protected net.minecraft.client.gui.components.AbstractScrollArea scrolling
protected net.minecraft.client.gui.components.MultiLineEditBox <init>(Lnet/minecraft/client/gui/Font;IIIILnet/minecraft/network/chat/Component;Lnet/minecraft/network/chat/Component;IZIZZ)V
protected net.minecraft.client.gui.components.MultiLineEditBox textField
protected net.minecraft.client.gui.components.MultiLineEditBox font
#protected net.minecraft.client.gui.components.MultiLineEditBox frame
protected net.minecraft.client.gui.components.MultiLineEditBox seekCursorScreen(DD)V
#public net.minecraft.client.gui.components.AbstractWidget clicked(DD)Z
public net.minecraft.client.gui.components.MultilineTextField selectCursor
public net.minecraft.client.gui.components.MultilineTextField cursor
public net.minecraft.client.gui.components.MultilineTextField$StringView
public net.minecraft.client.gui.components.MultilineTextField$StringView <init>(II)V
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen hoveredSlot

public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate palettes
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate entityInfoList
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate$Palette <init>(Ljava/util/List;)V
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate size

public net.minecraft.gametest.framework.GameTestHelper testInfo


public net.minecraft.client.gui.screens.worldselection.SelectWorldScreen list # WorldSelectionList

public net.minecraft.client.gui.screens.worldselection.WorldSelectionList$WorldListEntry summary